.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: 700;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table--responsive {
    display: block;
    overflow-x: auto;
}