body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0px;
  margin: 0;
}

/* scrollbar.css */

/* Apply to any container that requires a custom scrollbar */
.custom-scrollbar {
  overflow-y: auto;
  /* Ensure scrollable content */
}

/* For WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
  /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: lightgreen;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #26425A;
  /* Darker color when hovering */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  /* Makes scrollbar thin */
  scrollbar-color: #66A8CF #f1f1f1;
  /* Thumb color and track color */
}

.react-ext-container {
  animation: slideUp 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  /* Smoother easing */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  /* Slightly larger radius for a modern feel */
  bottom: -100%;
  /* Start completely hidden */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Softer shadow */
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: auto;
  position: fixed;
  right: 20px;
  width: 40vw;
  z-index: 1000000;
  transform: scale(0.95);
  /* Start slightly scaled down */
  opacity: 0;
  /* Start invisible */
}

@keyframes slideUp {
  0% {
    bottom: -50%;
    transform: scale(0.95);
    /* Slightly smaller scale for a smooth transition */
    opacity: 0;
  }

  60% {
    bottom: 3%;
    transform: scale(1.02);
    /* Slight overshoot for a natural effect */
    opacity: 1;
  }

  100% {
    bottom: 2%;
    transform: scale(1);
    /* Return to normal size */
    opacity: 1;
  }
}

.initButton {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
}

.success {
  color: green;
}

/* Styling for inputs */
.myextInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  flex-grow: 1;
  width: 100%;
}

/* Button styling */
.myextBtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
}