* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* :root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f1c40f;
  --text-color: #2c3e50;
  --accent-color: #e74c3c;
  --muted-color: #95a5a6;
  --highlight-color: #9b59b6;
  --link-color: #2980b9;
  --success-color: #27ae60;
  --warning-color: #e67e22;
  --error-color: #c0392b;
  --info-color: #16a085;
  --border-color: #bdc3c7;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --card-background-color: #ecf0f1;
  --button-hover-color: #34495e;
  --header-background-color: #1abc9c;
} */


:root {
  --primary-color: #66A8CF;
  --secondary-color: #C38EB4;
  --text-color: #232F47;
  --background-color: #E1CBD7;
  --button-hover-color: #5B97B5;
}

.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: lightgreen;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #26425A;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #66A8CF #f1f1f1;
}

.initButton {
  position: fixed;
  right: 40px;
  display: flex;
  align-items: center;
  bottom: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.react-ext-container {
  animation: slideUp 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  bottom: -100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: auto;
  position: fixed;
  right: 20px;
  width: 40vw;
  z-index: 1000000;
  transform: scale(0.95);
  opacity: 0;
}

@keyframes slideUp {
  0% {
    bottom: -50%;
    transform: scale(0.95);
    opacity: 0;
  }

  60% {
    bottom: 3%;
    transform: scale(1.02);
    opacity: 1;
  }

  100% {
    bottom: 2%;
    transform: scale(1);
    opacity: 1;
  }
}